server:
  servlet:
    context-path: /api

spring:
  redis:
    host: localhost
    port: 6379

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ssily.site:3306/ssily?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  jwt:
    secretKey: 123jkbndkancoqasndnk1jwnxckjn13dasjncxlkqmnlckmql1k2mlk31m5kol4m6lk42m3l

  mail:
    host: smtp.gmail.com
    port: 587
    username: ss0takk@gmail.com
    password: ghcpjnozjjircssc
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

logging:
  level:
    org:
      hibernate:
        SQL: debug

