/* App 공통 css */
@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
#contents {
  font-family: 'KOFIHDrLEEJWTTF-B';
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.v-messages {
  text-align: left;
  margin-bottom: 5px;
}
/* 배경  */
.background{
  width: 100vw;
  background: linear-gradient(rgba(12,111,202,1), rgba(38,0,111,1));
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#stars{
  position: relative;
  left: -30%;
  bottom: 100%;
  height: 300%;
  margin:0;  
  background-image: url("@/assets/images/stars3.svg");
  background-size: contain;
  background-position: center;
  overflow: hidden;
  animation: rotation 120s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* input 클릭시 테두리 효과 없애기 */
input:focus {
  outline: none;
} 


/* dialog 관련 css */
.wrap-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.wrap-dialog {
    position: absolute;
    z-index: 3;
    width: 500px;
  }
  .dialog {
    background: white;
    border-radius: 50px;
    z-index: 3;
    padding: 40px 60px;
  }
  .tit-dialog {
    font-size: 23px;
    margin-bottom: 40px;
  }
  .btn-dialog {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    margin: 10px 0;
  }
  .bg-dark {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: -1;
  }
  .bg-dark.active {
    z-index: 2;
    background: #00000080;
    backdrop-filter: blur(20px);
  }


/* 볼륨 조절 관련 css */
#ico-volume {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
}
/* ================= */


#ico-levelup {
  background: linear-gradient(90deg, rgb(219 130 130) 0%, rgb(249 215 155) 24%, rgb(71 246 137) 47%, rgb(102 206 199) 62%, rgb(146 92 233) 84%, rgb(186 91 220) 100%);
  color: transparent;
  -webkit-background-clip: text;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
